.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-around;
}

.listBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
    width: 700px;
    height: 50px;
    padding: 7px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.listBlock > span {
    font-weight: 600;
}

.listInner {
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
    gap: 15px;
    align-items: center;
}

