@import './theme/dark.css';
@import './theme/light.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container  {
  max-width: 1300px;
  margin: 0 auto;
}

.pokemonList {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

button {
  width: 80px;
  height: 25px;

}

/* .page {
  display: flex;
  gap: 25px;
  font-weight: 700;
  margin: 0 auto;
} */

.pokemonCard {
  border: 1px solid red;
  width: 250px;
  height: 400px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: var(--card-background);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;

}

.pokemonCard img {
  width: 200px;
  height: 200px;
}

.pokemonCard span {
  font-size: 22px;
}