@import './theme/dark.css';
@import './theme/light.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100wh;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  flex-direction: column;
}

.container  {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}

.page {
  margin: 0 auto;
}

.pageCount {
  display: inline-block;
  margin: 0 10px;
}

.pokemonList {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

button {
  width: 80px;
  height: 25px;

}

/* .page {
  display: flex;
  gap: 25px;
  font-weight: 700;
  margin: 0 auto;
} */

.pokemonCard {
  border: 1px solid red;
  width: 250px;
  height: 400px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: var(--card-background);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

.pokemonCard img {
  width: 200px;
  height: 200px;
}

.pokemonCard span {
  font-size: 22px;
}

.pokemonInfo {
  display: flex;
  justify-content: space-between;
  gap: 200px;
  margin-top: 50px;
}

.pokemonInfo .image {
  height: 420px;
  width: 410px;
  padding: 35px;
  background-color: var(--card-background);
}

.stats {
  font-size: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 30px;
}

.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
