button {
    width: 100px;
    height: 35px;
    /* padding: 8px; */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: whitesmoke;
    transition-duration: 250ms;

}

button:hover {
    transform: scale(1.2, 1.2);
}

.green {
    background-color: rgb(49, 153, 49);
}

.red {
    background-color: rgb(240, 77, 77);
}

.blue {
    background-color: rgb(81, 81, 238);
}